/* Pagination hover and transition effects */
.pagination .page-link,
.pagination .page-item > span {
  border-radius: 8px !important;
  transition: all 0.2s ease-in-out;
}

.pagination .page-link:hover {
  background-color: #0d6efd !important;
  color: #fff !important;
  transform: translateY(-1px);
}

/* Subtle scaling effect on hover */
.hover-scale {
  transition: transform 0.2s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}


.info-field ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 1.2rem;
}

.info-field li {
  margin-bottom: 2px;
  font-size: 0.95rem;
}